@charset "UTF-8";
.sub-nav {
  z-index: 100;
  &--sticky {
    &.fix {
      .sub-nav__wrap {
        position: fixed;
        transform: translateX(-50%);
        left: 50%;
        // top: $nav-height;// PC 고정TOP값 : 스크립트로 대체
        @include mdq-max(lg) {
          top: $nav-height-lg;
        }
      }
    }
  }
}

.sub-nav--bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(calc(100% - 40px), 1400px);
  background-color: #fff;
  margin: 0 auto;
  border-radius: rem(50) rem(40) 0 0;
  padding: 0 rem(55);
  @include mdq-max(lg) {
    img {
      width: 40px;
    }
    gap: rem(20);
    padding: 0 rem(20);
  }
  &,
  .link {
    height: rem(100);
    @include mdq-max(lg) {
      height: rem(80);
    }
  }
  position: relative;
  border-bottom: 1px solid #ddd;
  .link {
    display: inline-flex;
    align-items: center;
    padding: 0 1rem;
    font-weight: 600;
    font-size: rem(22);
    color: $black;
    &.on,
    &:hover {
      color: $color-1;
      text-decoration: underline;
      text-underline-position: under;
    }
  }
  .sub-nav {
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      @include mdq-max(xl) {
        //내부 스크롤
        text-align: center;
        display: inline-block;
        white-space: nowrap;
        font-size: 0;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        overflow-y: hidden;
        width: 100%;
        > li {
          display: inline;
        }
      }
    }
  }
}