@charset "UTF-8";
@keyframes txtfill {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.sub-visual {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // font-family: $ff-eng-sans-serif;
  &__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 602px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include mdq-max(sm) {
      height: 50vw;
      font-size: 2.5vw;
    }
  }
  &__title {
    display: inline-block;
    font-family: 'TheJamsil';
    font-size: rem(90);
    line-height: 1;
    font-weight: 300;
    text-align: end;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $white;
    position: relative;
    &::after {
        content: attr(data-text);
        -webkit-text-fill-color: $white;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
    }
    &.aos-animate {
      &::after {
        animation: txtfill 1s forwards 1s;
      }
    }
  }
  &__txt {
    margin-top: 1em;
    font-size: em(18);
    font-weight: 300;
  }
}
